/* html {
  background-color: dimgray;
}


form {
  display: flex;
  flex-direction: column;
  background-color:lightcoral;
  padding: 2px;
}

fieldset {
  display: flex;
  opacity: 0.9;
}

button {
  height: 30px;
  font-weight: bold;
  padding: 2px;

} */

/* textarea {
height: 80px;
width: 160px
} */
/* 
h3 {
  background-color: gray;
}
.entryLog {
background-color: gray;
} */

